body {
    font-size: 100%;
    font-family: "Commissioner", sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
    padding: 60px 10px 10px 10px;
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 16px;
    font-style: italic;
    color: DodgerBlue;
    padding-bottom: 6px;
    text-align: center;
}

hr {
    color: black;
    background-color: black;
    height: 3px;
}

a {
    text-decoration: none;
    color: DodgerBlue;
}

footer {
    text-align: center;
}

/* Element Selectors */
section {
    border: 2px solid #555555;
    border-radius: 3px;
    padding: 10px;
    width: 282px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    border: 2px;
}

/* Descendant Selectors */
section.col-1 {
    width: 936px;
}

a:hover {
    color: blue;
}