body {
    font-size: 100%;
    font-family: "Commissioner", sans-serif;
    background-color: darkslategrey;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: white;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 34px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 16px;
    font-style: italic;
    color: DodgerBlue;
    padding-bottom: 6px;
    text-align: center;
}

h4 {
    font-size: 14px;
}

hr {
    color: black;
    background-color: black;
    height: 2px;
    margin-top: 8px;
}

a {
    text-decoration: none;
    color: DodgerBlue;
}

footer {
    text-align: center;
}

footer ul {
    text-align: center;
}

/* Element Selectors */
section {
    border: 2px solid #555555;
    border-radius: 3px;
    padding: 10px;
    width: 282px;
    margin-top: 8px;
    margin-bottom: 14px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    gap: 22px;
    border: 2px;
}

/* Descendant Selectors */
section.col-1 {
    width: 936px;
    margin-top: 20px;
}

div.about {
    display: flex;
    flex-direction: column;
}

a:hover {
    color: blue;
}

header {
    display: flex;
    column-gap: 20px;
    font-size: 24px;
}

ul {
    display: flex;
    column-gap: 20px;
    font-weight: bold;
    align-items: center;
}

footer ul {
    display: flex;
    column-gap: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

figure {
    float: right;
}

figcaption {
    color: black;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}